body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom right, rgba(161, 194, 196, .9), rgba(200, 230, 187, 0.6), rgba(255, 248, 220, 0.8));
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.background-box {
	background: rgba(200, 230, 187, 0.95);
	padding: 60px;
	border-radius: 25px;
	border: dotted 1.5px rgba(161, 194, 196, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	background: rgba(255, 248, 220, 0.9);
	padding: 40px;
	border-radius: 25px;
	border: dotted 1px rgba(161, 194, 196, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.result-box {
	background-color: rgba(161, 194, 196, .8);
	height: 50px;
	width: 100px;
	margin: 5px;
	border-radius: 15px;
	border: dotted 1px rgba(200, 230, 187, 0.9);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

input {
	border: dotted 1.5px rgba(200, 230, 187, 0.9);
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: right;
	width: 100px;
}

button {
	margin: 10px;
	border: dotted 1px rgba(200, 230, 187, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}